In [3]:
#Q1. Create one variable containing following type of data:
# (i) string
a = ("this is my first assignment")
type(a)

str

In [5]:
#list
l = [1,2,3, "Abhishek" , 5.5, True]
type(l)

list

In [5]:
#Float
b = 45.65
type(b)

float

In [9]:
#Tuple
t =(1,5, "Abhishek")
type(t)

tuple

In [10]:
#Q2. Given are some following variables containing data: 1
var1 = ""

In [11]:
type(var1)

str

In [13]:
#2
var2 = '[DS, ML, Python]'
type(var2)

str

In [14]:
#3
var3= ['DS' , 'ML' ,  'Python']
type(var3)

list

In [15]:
#4
var4 = 1
type(var4)

int

In [10]:
#Q3. Explain the use of the following operators using an example: 1
a = 10
b = 4
a/b

2.5

In [1]:
#2
x = 10
y = 4
x%y

2

In [4]:
#3
p = 17
q = 5
p//q

3

In [6]:
#4
a = 5
b = 3
a**b

125

In [19]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

l = [1,2,3,4,5,6,"Abhishek",5.5,True,0]
for i in l :
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
Abhishek
<class 'str'>
5.5
<class 'float'>
True
<class 'bool'>
0
<class 'int'>

In [30]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

A = int(input("Enter A"))
B = int(input("Enter B"))
Count = 0
while A%B == 0:
    Count += 1
    A//= B
    if Count > 0 :
        print( f"{A} is divisible by {B} exactly {Count} times ")
    else : 
        print( f"{A} is not divisible by {B} ")

Enter A 15
Enter B 5

3 is divisible by 5 exactly 1 times

In [1]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l :
    if i%3==0:
        print(i)
        print("this number is divisible by 3 ")
    else :
        print(i)
        print("this number is not divisible by 3 ")

1
this number is not divisible by 3
2
this number is not divisible by 3
3
this number is divisible by 3
4
this number is not divisible by 3
5
this number is not divisible by 3
6
this number is divisible by 3
7
this number is not divisible by 3
8
this number is not divisible by 3
9
this number is divisible by 3
10
this number is not divisible by 3
11
this number is not divisible by 3
12
this number is divisible by 3
13
this number is not divisible by 3
14
this number is not divisible by 3
15
this number is divisible by 3
16
this number is not divisible by 3
17
this number is not divisible by 3
18
this number is divisible by 3
19
this number is not divisible by 3
20
this number is not divisible by 3
21
this number is divisible by 3
22
this number is not divisible by 3
23
this number is not divisible by 3
24
this number is divisible by 3
25
this number is not divisible by 3

In [13]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
# Mutable  data  types : We can change the value in Mutable data type like List
l= [1,2,3, "Abhishek", True]
l[3] = "Pwskills"
print(l)
#Immutable data types : We can't change the  value  in immutable  data type like String
a = "Abhishek"
a.replace[2] = t
print(a)

[1, 2, 3, 'Pwskills', True]

NameError: name 't' is not defined